.container{
    margin: 15px 30px;
}
.form-group{
    display: inline-flex;
    width: 100%;
}
.form-group .form-control{
    margin: 5px 10px;
    width: 100%;    
}
.form-group .form-control label{
    width: 6rem;
    vertical-align: middle;
}
.form-group .form-control input,.form-group .form-control select{
    width: calc(100% - 6rem);
    float: right;    
}