/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

*{
    font-family: 'Microsoft JhengHei';
}
a{
    text-decoration: none;
    color: #000;
}

/** repair-item-dialog panelClass*/
.repair-item-dialog .mat-dialog-container { 
    padding: 0;
    border-radius: 0;
    min-width: 700px;
}
.repair-item-dialog .mat-dialog-content { 
      margin: 0;
}

